<%- include('../layout/header'); -%>
<div class="container-fluid">
   <!-- Page Heading -->
   <h1 class="h3 mb-2 text-gray-800">Sub-Category List</h1>
   <!-- DataTales Example -->
   <div class="card shadow mb-4">
      <div class="card-header py-3">
         <h6 class="m-0 font-weight-bold text-primary float-right"> <a href="/add-subcategory"><i class="fas fa-plus fa-sm"></i> Add Sub-Category</a></h6>
      </div>
      <div class="card-body">
         <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">

               <div class="row">
                  <div class="col-sm-12">
                     <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <thead>
                           <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 265px;">Sl No.</th>
                              <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Category: activate to sort column ascending" style="width: 419px;">Category</th>
                              <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Sub-Category: activate to sort column ascending" style="width: 419px;">Sub-Category</th>
                              <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="s Active: activate to sort column ascending" style="width: 196px;">Is Active</th>
                              <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 99px;">Action</th>
                           </tr>
                        </thead>
                        <tfoot>
                           <tr>
                              <th rowspan="1" colspan="1">Sl No.</th>
                              <th rowspan="1" colspan="1">Category</th>
                              <th rowspan="1" colspan="1">Sub-Category</th>
                              <th rowspan="1" colspan="1">Is Active</th>
                              <th rowspan="1" colspan="1">Action</th>
                           </tr>
                        </tfoot>
                        <tbody>
                          <% if(subcategoryLists){
                            var i = 1;
                              subcategoryLists.forEach(elem => { %>
                                <tr role="row" class="odd">
                                   <td class="sorting_1"><%- i %></td>
                                   <td><%- elem.categories.category_name %></td>
                                   <td><%- elem.subcategorytitle %></td>
                                   <td><%- elem.active %></td>
                                   <td><a class="btn btn-xs btn-primary" href="/edit-sub-category/<%= elem._id  %>">Edit</a> || <a onClick="return confirm('Are you sure?You want to delete!')" class="btn btn-xs btn-danger" href="/delete-sub-category/<%= elem._id  %>">Delete</a> </td>
                                </tr>
                          <% i++; });  } %>
                        </tbody>
                     </table>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
</div>
<%- include('../layout/footer'); -%>
